body {
    margin: 10px auto;
    width: 600px;
    font-family: "Smythe", system-ui;
    background-color: #ECFDF5;
    border: 2px dashed red
} 

header {
    display: flex;
    flex-direction: column;
    background-image: url(images/ferks-guare-KEZdWfYD-ow-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 140px;
    margin: auto, auto, auto, 0;
    padding: 30px;
    /*border: 2px dashed red;*/
}

main {
    background-color: white;
    /*border: white*/
}



h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 28px;
    font-weight: lighter;
}
.menu-item {
    display: flex;
    /*justify-content: space-between;*/
    color: black;
    border-bottom: 1px solid #C6C6C6;
    width: 500px;
    height: 140px;
    /*border: 2px dashed green;*/
    margin: 15px auto;
 }

.emoji {
    font-size: 80px;
}

.item-info {
    margin: 10px;
}

#add-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: solid;
    margin: 0 0 auto auto;
    
    /*background-color: white;*/
    background: none;
    color: #d9d9d9;
    font-size: 32px;
    font-weight:100;
    cursor: pointer;
}

 .order {
    display: none;
    text-align: center;
    width: 500px;
    margin: 15px auto;
    border: 2px dashed red
 }

 .items-ordered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*flex-direction: column;*/
    
 }

.total {
    border-top: 2px solid gray;
}

.remove-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #d9d9d9;
}

#complete-btn {
    display: none;
    width: 600px;
    height: 70px;
    
}

 .payment-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 525px;
    width: 540px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: verdana, sans-serif;
    border: 2px dashed blue;
 }

.card-input, #pay-btn {
    width: 475px;
    height: 70px;
}

.card-input {
    font-family: verdana, sans-serif;
    font-size: 20px;
    border: 2px solid #16DB99;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px auto;
}

#pay-btn, #complete-btn {
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #16DB99;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#pay-btn {
    font-size: 20px;
    margin: 30px auto;
}

 .confirm-modal {
    display: none;
    background-color: #ECFDF5;
    border: none;
    width: 500px;
    height: 120px;
 }