body {
    margin: auto;
    width: 600px;
    font-family: "Smythe", system-ui;
    background-color: #ECFDF5;
} 

/* typography */

.headline {
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: lighter;
}

.emoji {
    font-size: 80px;
}

/* layout */

header {
    display: flex;
    flex-direction: column;
    background-image: url(images/ferks-guare-KEZdWfYD-ow-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 140px;
    margin: auto, auto, auto, 0;
    padding: 30px;
}

main {
    background-color: white;
    padding: 40px;
}

.menu-items {
    margin: 0 auto;
    padding: 20px;
}

.item-name, .item-ingredients {
    margin: 0
}

.item-ingredients {
    color: #8B8B8B
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    color: black;
    border-bottom: 1px solid #C6C6C6;
    width: 500px;
    height: 140px;
    margin: 0 auto;
    padding-top: 20px;
 }

.item-info {
    margin: 10px;
}

 .order {
    display: none;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
 }

.items-ordered{
    padding-bottom: 10px;
}

 .item-ordered {
    display: flex;
    justify-content: space-between;
 }

.total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;
    padding-top: 10px;
}

 .payment-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 525px;
    width: 540px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: verdana, sans-serif;
 }

 label {
    display: block;
    font-size: 20px;
    font-weight: bold; 
    margin: 20px auto;
 }

.card-input {
    font-family: verdana, sans-serif;
    font-size: 20px;
    width: 475px;
    height: 70px;
    border: 2px solid #16DB99;
    border-radius: 5px;
    padding-left: 10px;
    margin: 10px auto;
}

 .confirm-modal {
    display: none;
    background-color: #ECFDF5;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 40px auto;
    width: 500px;
    height: 120px;
 }

/* buttons */

#add-btn {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: solid;
    margin: 0 0 auto auto;
    background: none;
    font-size: 32px;
    font-weight: 200;
    cursor: pointer;
    
}

.remove-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #d9d9d9;
}

#complete-btn, .reload-modal {
    display: none;
}

#pay-btn, #complete-btn, .reload-modal {
    font-family: verdana, sans-serif;
    font-weight: bold;
    width: 475px;
    height: 70px;
    font-size: 20px;
    margin: 40px auto 30px auto;
    color: white;
    background-color: #16DB99;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}